<section class="fko-section-about fko-section-about--part16">
    <div class="fko-section-about__part fko-section-about__part--part16">
        <div class="fko-section-about__part__content fko-section-about__part__content--part16">
            <p>… E esse é o jeitinho que encontrei de demonstrar todo meu amor por você.</p>
            <p class="fko-section-about__part__content__happy">Feliz dia das Mães.</p>
        </div>
        <div class="fko-section-about__part fko-section-about__part__video">
            <video class="fko-section-about__part__video__video" controls>
                <source src="{{ base_url() }}/videos/maya.mp4" type="video/mp4">
            </video> 
        </div>
    </div>
</section>