<div class="fko-section-main__content">
    <p class="fko-section-main__content__ola fko-animate-opacity">
        Olá mamãe, tudo bem?
    </p>
    <p class="fko-section-main__content__ola2 fko-animate-opacity">
        Tenho algumas coisinhas para lhe falar...
    </p>
</div>