$purple:#8601AF;
$purple-light:#F7DBFF;
$purple-dark:#60017D;
$white:white;
$yellow:#E3CF19;
$yellow-light:#F7F0D4;
$green-dark:#343409;
$black:#000;
$red:#FE2712;
$light-gray: #9f9c99;
$blue:#3008BD;
$creme:#f5d6c6;
$pink:#fa9a85;

$bg-red:#FE2712;
$bg-red-dark:#A70F01;
$bg-transparent:rgba(0,0,0,0);
$bg-yellow:$yellow;
$bg-yellow-light:$yellow-light;
$bg-white:#fff;
$bg-black:#000;
$bg-black--opacity:rgba(0,0,0,.7);
$bg-light-gray:$light-gray;
$bg-purple:$purple;
$bg-purple-light:$purple-light;
$bg-purple-dark:$purple-dark;
$bg-blue:$blue;
$bg-creme:$creme;
$bg-pink:$pink;