%fko-button {
    @include fko-button;
}

%fko-hide {
    @include fko-hide;
}

%fko-box-depth {
    @include fko-box-depth;
}

%fko-pseudo-clear {
    content: '';
    display: table;
    clear: both;
}

%fko-box-shadow {
    box-shadow:rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
}

%fko-section__title {
    text-transform: uppercase;
    margin-bottom: .15rem;
}
%fko-section__title_span {
    color: $white;
}